@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {
  @apply bg-gradient-to-r from-pink-500 to-orange-400 text-white font-semibold px-4 py-2 rounded-lg hover:opacity-90 transition;
}

.bg-gradient-ilonnac {
  @apply bg-gradient-to-r from-pink-500 to-orange-400;
}
